:root {
  // colors
  --color-title-text: #ffffff;
  --color-body-text: #D1D0CF;
  --color-body-bg: #141414;
  --color-primary: #e20e02;
  --color-secondary: #83878a;
  --color-success: #14e788;
  --color-warning: #f68a04;
  --color-danger: #545E75;
  --color-info: #007aff;
  --color-dark: #000000;
  --color-light: #fafafb;
  --color-gray: #b1b1b1;
  --color-dark1: #a2a4af;
  --color-light-primary: rgba(226, 14, 2, 0.2);
  --color-light-secondary: rgba(131, 135, 138, 0.2);
  --color-light-success: rgba(20, 231, 136, 0.2);
  --color-light-danger: rgba(84, 94, 117, 0.2);
  --color-light-warning: rgba(246, 138, 4, 0.2);
  --color-light-info: rgba(0, 122, 255, 0.2);
  --color-light-light: rgba(250, 250, 251, 0.2);
  --color-light-dark: rgba(0, 0, 0, 0.2);
  --color-primary-hover: #bf000a;
  --color-secondary-hover: #807e7e;
  --color-success-hover: #42f9d9;
  --color-danger-hover: #3c4354;
  --color-warning-hover: #fdb45e;
  --color-info-hover: #c280ea;
  --color-dark-hover: #44454e;
  --color-light-hover: #eaeeff;
  --color-border: #141414;
  --color-border-light: #141414;
  --color-border-danger: #ff9273;
  --color-light-card: #191919;
  --color-primary-rgb: 100, 114, 248;
  --color-primary-light: #f3fffe;
  --color-bg1: #363636;
  --color-disable: #313946;

  //fonts

  --font-primary: 'Roboto', sans-serif
}